@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-MediumItalic.eot');
  src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
      url('./fonts/.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CircularStd-MediumItalic.woff2') format('woff2'),
      url('./fonts/CircularStd-MediumItalic.woff') format('woff'),
      url('./fonts/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Black.eot');
  src: local('Circular Std Black'), local('CircularStd-Black'),
      url('./fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CircularStd-Black.woff2') format('woff2'),
      url('./fonts/CircularStd-Black.woff') format('woff'),
      url('./fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Medium.eot');
  src: local('Circular Std Medium'), local('CircularStd-Medium'),
      url('./fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CircularStd-Medium.woff2') format('woff2'),
      url('./fonts/CircularStd-Medium.woff') format('woff'),
      url('./fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Bold.eot');
  src: local('Circular Std Bold'), local('CircularStd-Bold'),
      url('./fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CircularStd-Bold.woff2') format('woff2'),
      url('./fonts/CircularStd-Bold.woff') format('woff'),
      url('./fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-BlackItalic.eot');
  src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'),
      url('./fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CircularStd-BlackItalic.woff2') format('woff2'),
      url('./fonts/CircularStd-BlackItalic.woff') format('woff'),
      url('./fonts/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('./fonts/CircularStd-BookItalic.eot');
  src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
      url('./fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CircularStd-BookItalic.woff2') format('woff2'),
      url('./fonts/CircularStd-BookItalic.woff') format('woff'),
      url('./fonts/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-BoldItalic.eot');
  src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
      url('./fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CircularStd-BoldItalic.woff2') format('woff2'),
      url('./fonts/CircularStd-BoldItalic.woff') format('woff'),
      url('./fonts/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('./fonts/CircularStd-Book.eot');
  src: local('Circular Std Book'), local('CircularStd-Book'),
      url('./fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
      url('./fonts/CircularStd-Book.woff2') format('woff2'),
      url('./fonts/CircularStd-Book.woff') format('woff'),
      url('./fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Circular Std Book';
  font-weight:normal;
  font-style:normal;
  font-size:15px;
  background-color:#171717;
  color:#ffffff;
  padding-top:100px;
  /* width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0px auto;
    padding: 100px 100px; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


.profile{
  display:flex;
  justify-content: center;

}

.playlistProfile{
  display:flex;
  flex-direction: column;
  align-items: center;

}

.profilePortrait{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.profileRow{
  display:flex;
  justify-content:space-evenly
}

.profilePhotos{
  height:75px;
  width:75px;
}

.profileFont{
  font-family: 'Circular Std Book';
  font-weight:normal;
  font-style:normal;
  font-size:15px;
}

.profTrackArtistView{
  display:flex;
  justify-content:space-evenly
}

.trackList{
  display:grid;
  margin-top: 50px;
  margin-left:100px
    /* align-items: center; */
}

.categoryHeader{
  display:flex;
  justify-content:space-around;
}

.timebar{
  display:flex;
  flex-direction:row;
  justify-content:space evenly
}

.seeMore{
  color:white;
  font-size: 15px;

}
.seeMore:hover{
  text-decoration: underline  ;
}

.topArtists{
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px [col-start]);
  grid-gap: 20px;
  margin-top: 50px;
  margin-left:100px
}

.chartContainer{
  width:40%;
  height:40%;
  padding-left:100px
}

.app{
  display:flex;
  flex-direction:row;
}
