

body {
  font-family: Proxima-Nova;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.profile{
  display:flex;
  justify-content: center;
}

.profileRow{
  display:flex;
  justify-content:space-evenly
}

.profilePhotos{
  height:50px;
  width:50px
}

.profTrackArtistView{
  display:flex;
  justify-content:space-evenly
}

.trackList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.artistHeader{
  display:flex;
  justify-content:space-evenly
}

.timebar{
  display:flex;
  flex-direction:row;
  justify-content:space evenly
}

.topArtists{
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px [col-start]);
  grid-gap: 20px;
  margin-top: 50px;
  margin-left:100px
}

.app{
  display:flex;
  flex-direction:row;
}
